.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: var(--sections-gap-mobile);
}

.header__list {
  display: none;
}

.header__menu {
  display: flex;
  gap: 18px;
  align-items: center;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.burger__bar {
  display: block;
  width: 20px;
  border-bottom: 1px solid var(--color-black);
}

@media (min-width: 1440px) {
  .header {
    padding: 16px;
    margin-bottom: 64px;
  }

  .header__list {
    display: flex;
  }

  .header__item:not(:last-child) {
    margin-right: 24px;
  }

  .header__container {
    display: flex;
    align-items: center;
  }

  .burger {
    display: none;
  }

  .header__logo {
    margin-right: 40px;
  }
}
