:root {
  --color-black: #131a27;
  --color-grey: #596273;
  --color-blue: #4c7dfe;
  --color-white: #fff;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

.wrapper {
  padding: 0 16px;
}

.about__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #131a27;
  margin: 8px 0 16px;
}

.reviews {
  padding-left: 16px;
  margin-bottom: 60px;
}

.cards {
  margin-bottom: 40px;
}

.cards__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #131a27;
  margin: 0 0 8px;
}

.cards__list {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  gap: 8px;
}

.chips-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.stats {
  margin: 60px 0;
}

.shop {
  margin: 60px 0 40px;
}

.events {
  background: #f1f2f4;
  padding: 32px 0 32px 16px;
}

.events__title {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #131a27;
  margin: 11px 0 4px;
}

.events__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #131a27;
  margin: 0 0 20px;
}

.partners {
  padding-top: 40px;
}

.partners__button {
  margin-top: 8px;
}

.error {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #c40628;
  margin: 8px 0 35px;
}

.hidden {
  display: none;
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 0 128px;
  }

  .about__title {
    font-size: 28px;
    line-height: 130%;
  }

  .stats {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    margin: 120px 0;
    gap: 24px;
  }

  .chips-group {
    margin-bottom: 40px;
  }

  .reviews {
    padding-left: 128px;
    /* margin-bottom: 60px; */
  }

  .events {
    padding: 64px 0 64px 128px;
  }

  .cards__list {
    display: flex;
    gap: 16px;
  }

  .layout__left {
    margin-right: 40px;
    width: 360px;
    flex-shrink: 0;
  }

  .about__team {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 16px;
  }

  .cards {
    /* display: flex; */
    margin: 120px 0;
  }

  .shop {
    margin: 120px 0 64px;
  }

  .events__logo {
    width: 132px;
    height: 40px;
  }

  .events__title {
    font-size: 20px;
  }

  .layout {
    display: flex;
  }

  .buttons {
    display: flex;
    gap: 8px;
  }

  .partners {
    padding-top: 64px;
  }
}
