:root {
  --color-black: #131a27;
  --color-grey: #596273;
  --color-blue: #4c7dfe;
  --color-red: #c40628;
  --color-white: #fff;

  --color-grey-bg: #f1f2f4;

  --sections-gap-mobile: 40px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.about {
  margin-bottom: 60px;
}

.about__team {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  margin-bottom: 16px;
}

.about__hint {
  margin-bottom: 8px;
}

.about__title {
  margin-bottom: 16px;
}

.about__description {
  margin-bottom: 32px;
}

.about__help-button {
  margin-bottom: 60px;
}

.reviews {
  padding-left: 16px;
  margin-bottom: 60px;
}

.cards {
  margin-bottom: 60px;
}

.cards__title {
  margin-bottom: 8px;
}

.cards__description {
  margin-bottom: 24px;
}

.cards__list {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  gap: 8px;
}

.chips-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.stats {
  margin-bottom: 60px;
}

.shop {
  margin-bottom: 40px;
}

.shop__title {
  margin-bottom: 16px;
}

.events {
  background: var(--color-grey-bg);
  padding: 32px 0 32px 16px;
  margin-bottom: 40px;
}

.events__logo {
  margin-bottom: 12px;
}

.events__title {
  margin-bottom: 4px;
}

.events__text {
  margin-bottom: 20px;
}

.partners {
  margin-bottom: 80px;
}

.partners__button {
  margin-top: 8px;
}

.hidden {
  display: none;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1184px;
    margin: 0 auto;
    padding: 0;
  }

  .wrapper--rubber {
    padding-left: 16px;
    padding-right: 16px;
    width: unset;
    margin: unset;
  }

  .stats {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    margin-bottom: 120px;
    gap: 24px;
  }

  .chips-group {
    margin-bottom: 40px;
  }

  .reviews {
    padding-left: 128px;
    margin-bottom: 120px;
  }

  .events {
    padding: 64px 0 64px 128px;
  }

  .about__description {
    margin-bottom: 40px;
  }

  .about__team {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 16px;
    margin-bottom: 40px;
  }

  .about__help-button {
    margin-bottom: 120px;
  }

  .cards {
    margin-bottom: 120px;
  }

  .cards__list {
    display: flex;
    gap: 16px;
  }

  .shop {
    margin: 120px 0 64px;
  }

  .events__logo {
    width: 132px;
    height: 40px;
  }

  .events__title {
    font-size: 20px;
  }

  .layout {
    display: flex;
    gap: 40px;
  }

  .layout__left {
    width: 360px;
    flex-shrink: 0;
  }

  .partners__buttons {
    display: flex;
    gap: 8px;
  }

  .partners {
    padding-top: 64px;
  }
}
