.button {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
}

.button--black {
  border-color: black;
}

.button--large {
  width: 100%;
  padding: 17px 0;
  border-radius: 12px;
}

.button--large .button__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}

.button--filled {
  background: var(--color-blue);
  border: none;
}

.button--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (min-width: 1440px) {
  .button {
    width: 200px;
    padding: 17px 0;
    border-radius: 12px;
  }

  .button--large {
    width: 384px;
    margin-top: 40px;
  }

  .button--filled-lg {
    background: var(--color-blue);
    border: none;
    color: var(--color-white);
  }

  .button__text {
    font-size: 18px;
  }

  .button--full {
    width: 100%;
  }

  .button--large-modal {
    margin: 0;
  }
}
