.product-form__preview {
  margin-bottom: 24px;
}

.product-form__title {
  margin-bottom: 8px;
}

.product-form__price {
  margin-bottom: 8px;
}

.product-form__size-title {
  margin-bottom: 8px;
}

.product-form__size-input {
  display: flex;
  text-align: center;
  gap: 8px;
  margin-bottom: 8px;
}

.product-form__phone-label {
  display: block;
  margin-bottom: 8px;
}

.product-form__phone-input {
  width: 100%;
  border: 1px solid #c6cad2;
  border-radius: 8px;
  padding: 10px 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
  outline: none;
}

.product-form__phone-input:focus:not(.product-form__phone-input--error) {
  border: 1px solid #c6cad2;
}

.product-form__phone-input::placeholder {
  color: var(--color-grey);
}

.product-form__phone-error {
  margin-bottom: 8px;
}

.product-form__description {
  margin-bottom: 16px;
}

.product-form__size {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.product-form__size + label {
  padding: 11px 15px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.product-form__size:checked + label {
  background: var(--color-blue);
  color: var(--color-white);
}

.product-form__sizes-table-link {
  display: block;
  margin-bottom: 20px;
  text-decoration-line: underline;
}

.product-form__phone-privacy {
  margin-bottom: 24px;
}

.product-form__phone-input--error {
  border-color: var(--color-red);
}

@media (min-width: 1440px) {
  .product-form {
    display: flex;
  }
}
