.shop__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #131a27;
  margin: 60px 0 16px;
}

.shop__title--modal {
  font-size: 18px;
  margin: 24px 0 8px;
}

.shop__price--modal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #131a27;
}

.shop__size {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #131a27;
  margin: 0;
}

.shop-form__size {
  display: flex;
  text-align: center;
  gap: 8px;
  margin-top: 8px;
}

.shop__number {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #131a27;
  margin: 0 0 8px;
}

.shop__input {
  border: 1px solid #c6cad2;
  border-radius: 8px;
  padding: 10px 12px;
  outline: none;
}

.shop__input:focus:not(.shop__input--error) {
  border: 1px solid #c6cad2;
}

.shop__link {
  text-decoration: none;
}

::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #596273;
}

.shop__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #596273;
  margin: 8px 0 20px;
}

.shop__measure {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.shop__measure + label {
  padding: 11px 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #4c7dfe;
  border: 1px solid #4c7dfe;
  border-radius: 8px;
  /* margin: 8px 0 0; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.shop__measure:checked + label {
  background: #4c7dfe;
  color: #fff;
}

.shop__description--border {
  text-decoration-line: underline;
}

.shop-form__tel {
  border: 1px solid #c6cad2;
  border-radius: 8px;
  padding: 10px 12px;
}

.shop__input--error {
  border-color: #c40628;
}

@media (min-width: 1440px) {
  .modal__product {
    display: flex;
  }

  .shop__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .shop__title--modal {
    font-size: 20px;
  }

  .shop__price--modal {
    font-size: 20px;
  }
}
