.partners__list {
  column-count: 2;
  column-gap: 8px;
  margin-bottom: 16px;
}

.partner {
  border: 1px solid #9ba2b1;
  border-radius: 16px;
  padding: 12px 12px 20px;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.partner__arrow {
  display: flex;
  justify-content: flex-end;
}

.partner__icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--color-grey-bg);
}

.partner__container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  margin-bottom: 16px;
}

.partner__title {
  text-align: center;
}

.partner__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.partner--show-lg {
  display: none;
}

@media (min-width: 1440px) {
  .partners__list {
    column-count: 4;
    column-gap: 10px;
  }

  .partner__container {
    margin-bottom: 20px;
  }

  .partner--show-lg {
    display: block;
  }
}

@media (max-width: 400px) {
  .partners__list {
    column-count: 1;
  }
}
