.reviews__carousel .slick-track {
  display: flex;
  align-items: stretch;
}

.review {
  height: auto !important;
  width: 335px;
  padding: 16px;
  box-sizing: border-box;
  background: var(--color-grey-bg);
  border-radius: 24px;
  margin-right: 16px;
}

.review__avatar {
  margin-right: 12px;
}

.review__img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.review__box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.review__name {
  display: block;
}

@media (min-width: 1440px) {
  .review {
    width: 385px;
  }
}
