.note {
  margin-bottom: var(--sections-gap-mobile);
}

.note__content {
  padding: 40px 24px;
  background: var(--color-blue);
  border-radius: 24px;
}

.note__text {
  display: block;
  text-align: center;
}

@media (min-width: 1440px) {
  .note {
    margin-bottom: 120px;
  }

  .note__content {
    padding: 120px 292px;
    border-radius: 16px;
  }
}
