.note {
  padding: 40px 24px;
  background: #4c7dfe;
  border-radius: 24px;
  margin: 8px 0 40px;
}

.note__text {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .note {
    padding: 120px 292px;
    margin: 64px 0 120px;
  }

  .note__text {
    font-size: 28px;
    line-height: 130%;
  }
}
