.footer {
  align-items: center;
  text-align: center;
  background: #4c7dfe;
  border-radius: 24px 24px 0px 0px;
  margin-top: 80px;
}

.footer__wrapper {
  padding: 24px 0 16px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: white;
}

.footer__item {
  margin-bottom: 16px;
}

.footer__copyright {
  padding: 24px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
}

.footer__button {
  display: inline-block;
  margin: 30px;
  padding: 10px 50px !important;
}

.footer--show-lg {
  display: none;
}

@media (min-width: 1440px) {
  .footer {
    display: none;
  }

  .footer__button {
    margin: 0;
  }

  .footer__item:last-child {
    margin-bottom: 0;
  }

  .footer__copyright {
    padding: 27px 0 0 0;
  }

  .footer--show-lg {
    display: flex;
    justify-content: space-between;
    margin-top: 164px;
    padding: 28px 128px;
    background: #4c7dfe;
    border-radius: 24px 24px 0px 0px;
  }
}
