.quote {
  --avatar-size: 70px;

  display: flex;
  background: var(--color-grey-bg);
  border-radius: 24px;
  padding: 16px;
}

.quote__img {
  border-radius: 50%;
  width: var(--avatar-size);
  height: var(--avatar-size);
  object-fit: cover;
}

.quote__avatar {
  margin-right: 16px;
}

.quote__content {
  display: inline-grid;
}

.quote__name {
  margin-bottom: 4px;
}

.quote__title {
  margin-bottom: 8px;
}

@media (min-width: 1440px) {
  .quote {
    width: 384px;
    box-sizing: border-box;
  }

  .quote__content {
    display: flex;
    flex-direction: column;
  }
}
