.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--color-black);
}

.text--grey {
  color: var(--color-grey);
}

.text--white {
  color: var(--color-white);
}

.text--blue {
  color: var(--color-blue);
}

.text--bold {
  font-weight: 600;
}

.text--extrabold {
  font-weight: 700;
}

.text--interline-sm {
  line-height: 120%;
}

.text--interline-md {
  line-height: 150%;
}

.text--sm {
  font-size: 14px;
}

.text--xl {
  font-size: 40px;
}

.text--h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

.text--h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

.text--h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.text--h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.text--16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.text--highlighted-16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.text--14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}

.text--highlighted-14 {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.text--button-sm {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.text--button-md {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}

@media (min-width: 1440px) {
  .text {
    font-size: 16px;
  }

  .text--large {
    font-size: 24px;
  }
}
