.brief {
  margin-bottom: 8px;
}

.brief__title {
  margin-bottom: 16px;
}

.brief__img {
  width: 100%;
}

@media (min-width: 1440px) {
  .brief {
    display: flex;
    align-items: center;
    gap: 72px;
    margin-bottom: 64px;
  }

  .brief__title {
    margin-bottom: 24px;
  }

  .brief__img {
    width: 476px;
  }
}
