.stat {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-black);
}

.stat__number {
  margin-bottom: 8px;
}

.stat:last-of-type {
  border-bottom: none;
}

@media (min-width: 1440px) {
  .stat {
    border: none;
  }
}
