.good {
  width: 200px;
  margin-right: 16px;
}

.good__img {
  display: block;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
}

.good__title {
  display: block;
  margin-bottom: 12px;
}

.good__price {
  display: inline-block;
  padding: 12px 16px;
  border: 1px solid var(--color-black);
  border-radius: 8px;
}

@media (min-width: 1440px) {
  .good {
    width: 284px;
    margin: 0 16px 0 0;
  }
}
